node_modules/
.env
.DS_Store
client/dist/

# Server specific
server/.env
server/public/uploads/*
!server/public/uploads/.gitkeep
server/node_modules/

# Logs
*.log
logs/

# macOS Finder icon
[Ii]con$'\r'
